/* CSS styles for the memory game */
#game-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
    /* flex-direction: column; */
  }

  p{
    text-align: center;
    font-size: 30px;
  }
  
  .card {
    width: 70%;
    height: 40%;
    margin: 10px;
    perspective: 1000px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .card .inner {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    position: relative;
  }
  
  .card .front,
  .card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .card .front {
    transform: rotateY(180deg);
  }
  
  .card.flipped .inner {
    transform: rotateY(180deg);
  }
  
  .card .inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  